<section id="navbar">
    <nav class="navbar navbar-expand-md navbar-dark navbar-bg">
        <div class="container-xxl">
            <a href="/" class="navbar-brand w-auto"><img class="navbar-img" src="/images/image3.png"></a>
            <!-- toggle button for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <% let currentUser="Guest" %>
                <% if (user) currentUser=user.username; %>
                    <!-- navbar links -->
                    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="https://discord.gg/nAqFWfxUM6" target="_blank"
                                    class="nav-link navbar-items">Discord</a>
                            </li>
                            <li class="nav-item">
                                <a href="./features" class="nav-link navbar-items">Features</a>
                            </li>
                            <li class="nav-item">
                                <a href="/subscribe" class="nav-link navbar-items">Subscribe</a>
                            </li>
                            <li class="nav-item">
                                <a href="/changelog" class="nav-link navbar-items">Changelog</a>
                            </li>
                            <li class="nav-item">
                                <a href="/profile" class="nav-link navbar-items">Profile</a>
                            </li>

                            <div class="dropdown ps-4">
                                <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Signed in as: <strong style="color:white">
                                        <%= currentUser %>
                                    </strong>
                                </button>
                                <ul class="dropdown-menu" data-bs-theme="dark">
                                    <% if (currentUser !=='Guest' ) { %>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                        <% } %>
                                            <% if (currentUser==='Guest' ) { %>
                                                <li><a class="dropdown-item" href="/register">Register</a></li>
                                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                                <% } %>
                                </ul>
                            </div>
                        </ul>

                    </div>
        </div>
    </nav>
</section>