<%- include('./partials/head') %>
    <%- include('./partials/navbar') %>

        <div class="container-lg min-vh-100 d-flex flex-column features-bg">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center mt-4 list-title">Full list of features</h3>
                    <ul class="px-1 ps-3 features-ul">
                        <h5 class="mx-1 ps-1 my-4">Metin Stone features: </h5>
                        <li class="ms-5">Multi client support</li>
                        <li class="ms-5">Message detection</li>
                        <li class="ms-5">Bypass captcha (aeldra/zeta/TZMT2)</li>
                        <li class="ms-5">External Menu & Auto restart</li>
                        <li class="ms-5">Config system with an easy to use GUI</li>
                        <li class="ms-5">Auto login (zeta/aeldra)</li>
                        <li class="ms-5">Automatic game detection</li>
                        <li class="ms-5">Auto pickup loot</li>
                        <li class="ms-5">Auto unstuck</li>
                        <li class="ms-5">Metin stone farmer</li>
                        <li class="ms-5">Auto re-activate skills</li>
                        <li class="ms-5">Auto respawn</li>
                        <li class="ms-5">Checks that the metin is free and not attacked by another player</li>
                        <li class="ms-5">Multiple modes the bot can behave, in case no metins were found</li>
                        <li class="ms-5">Multiple move to metin modes</li>
                        <li class="ms-5">VIRTUAL MACHINE SUPPORT (The bot can farm in the background while you can do something
                            else on your PC, up to 2 virtual machines per subscription)
                        </li>
                        <li class="ms-5">User based metin decision (This bot will work for every metin stone in the game)</li>                <h5 class="mx-1 ps-1 my-4">Fish bot: </h5>
                        <li class="ms-5">available for the new fishing system (DOESN'T CURRENTLY WORK ON VIRTUAL MACHINES)</li>
                        <h5 class="mx-1 ps-1 my-4">Leveling bot: </h5>
                        <li class="ms-5">Available</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center mt-4 mb-4 list-title">All supported servers</h3>
                    <div class="px-1 ps-3 lh-lg text-center">
                        <p class="mb-0"><a class="link-info" target="_blank" href="https://aeldra.to/">Aeldra & Zeta</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://www.kronius2.vip/">Kronius2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://sevenworld2.com/">SevenWorld2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://stellaria.cc/">Stellaria</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://rodnia.to/">Rodnia</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://www.origins2.global/">Origins2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://shiro2.online/home">Shiro</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://rubinum.io/">Rubinum</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://hydra2.ro/">Hydra2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://www.shenlong.cz/en">Shenlong</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://bonusmt2.com/">BonusMt2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://sancy.to/">Sancy</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://home.elis2.com/">Elis2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://shiva.international/">Shiva</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://radon2.com/">Radon2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://arcane2.org/downloads">Arcane2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://sinners2.ro/download">Sinners2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://avaria2.biz/">Avaria2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://www.tzmt2.com/">Tzmt2</a></p>
                        <p class="mb-0"><a class="link-info"  target="_blank" href="https://takania2.net/">Takania2</a></p>
                    </div>
                        
                       
                        
                    </ul>
                </div>
            </div>
            
        </div>


        <%- include('./partials/footer') %>