<%- include('./partials/head') %>
    <%- include('./partials/navbar') %>
        <div class="container-lg d-flex justify-content-center text-white">
            <div class="d-flex  mt-3 py-3 justify-content-center">
                <form method="post" action="/login" class="login-form px-5 py-3">
                    <% if (noCreds) { %>
                        <div class="border border-danger bg-white p-2 mb-4" style="border-radius: 8px;">
                            <h6 class="d-flex justify-content-center m-0 p-0 text-danger">Please enter an email and a
                                password!</h6>
                        </div>
                        <%}%>
                            <% if (invalidCreds) { %>
                                <div class="border border-danger bg-white p-2 mb-4" style="border-radius: 8px;">
                                    <h6 class="d-flex justify-content-center m-0 p-0 text-danger"> Invalid Credentials!
                                    </h6>
                                </div>
                                <%}%>
                                    <h2 class="d-flex justify-content-center mb-5">Please Login</h2>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control form-control-sm" id="username"
                                            name="username">
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control form-control-sm" id="inputPassword1"
                                            name="password">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn w-50 btn-success my-3">Login</button>
                                    </div>
                </form>
            </div>
        </div>

        <%- include('./partials/footer') %>